In [1]:
# Assignment No 1
name = "Fahad Hashmi"
age = 23
country = "Pakistan"

result = "My Name is "+ name + \
"\nI am "+ str(age) +" years old"+\
"\nand I live in "+country

print (result)

My Name is Fahad Hashmi
I am 23 years old
and I live in Pakistan

In [2]:

city = "Karachi"
temperature = 34
text ="""
The temperature in {}
is {}""".format(city,temperature)

print (text)

The temperature in Karachi
is 34

In [4]:
# Assignment No 2
item = "Laptop"
price = 1000
quantity = 3
total_cost = (price * quantity)
order = """
I bought {} {} at {} for each for a total cost of {}""".format(quantity,item,price,total_cost,)
print (order)

I bought 3 Laptop at 1000 for each for a total cost of 3000

In [6]:
# Assignment No 2
item = "Laptop"
price = 1000
quantity = 3
total_cost = (price * quantity)
order = """
I bought {2} {0} at {1} for each for a total cost of {3}""".format(quantity,item,price,total_cost,)
print (order)

I bought 1000 3 at Laptop for each for a total cost of 3000

In [10]:
# Assignment No 2
item = "Laptop"
price = 1000
quantity = 3
total_cost = (price * quantity)
order = f"""
I bought {quantity} {item} at {price} for each for a total cost of {total_cost}"""
print (order)

I bought 3 Laptop at 1000 for each for a total cost of 3000

In [5]:
# Assignment No 3
city = "Karachi"
temperature = 34
text ="""
The temperature in {} \
is {} °C.""".format(city,temperature)

print (text)

The temperature in Karachi is 34 °C.

In [26]:
# Assignment No 4
first_name = "Fahad"
last_name = "Hashmi"
birth_year = 1985
current_year = 2023
age = (current_year - birth_year)
result = "My name is %s %s. I am %d years old." % (first_name,last_name,age)
print (result)
print(age)

My name is Fahad Hashmi. I am 38 years old.
38

In [4]:
# Assignment No 5
item = "Laptop"
original_price = 1000
discount = 20
quantity = 3
discounted_price = original_price * (1 - discount / 100)
total_cost = (original_price * quantity)
order = f"""
Name: {item}, Price: {original_price}, Discount Percentage: {discount}, Discounted Price: {discounted_price}"""
print (order)
order = """
Name: {}, Price: {}, Discount Percentage: {}, Discounted Price: {}""".format(item,original_price,discount,discounted_price)
print (order)
"Name: %s, Price: %d, Discount Percentage: %d, Discounted Price: %d." % (item,original_price,discount,discounted_price)
result ="Name: " + item +", Price: "+ str(original_price) + ", Discount Percentage: " + str(discount) + " Discounted Price:" + str(discounted_price)
print (result)

Name: Laptop, Price: 1000, Discount Percentage: 20, Discounted Price: 800.0

Name: Laptop, Price: 1000, Discount Percentage: 20, Discounted Price: 800.0
Name: Laptop, Price: 1000, Discount Percentage: 20 Discounted Price:800.0