In [4]:
a = 1

In [5]:
b = 2

In [8]:
print (a + b)

3

In [9]:
a = 1
b = 2
print(a+b)

3

In [16]:
name = ("Fahad Hashmi")
print (type(name)) # class data typer
print (id(name)) # physical address of variable

<class 'str'>
2390640080048

In [19]:
a = 20
print(a)
print (type(a))
print (id(a))

20
<class 'int'>
140704561403296

In [22]:
a = 20.7
print(a)
print (type(a))
print (id(a))

20.7
<class 'float'>
2390638880256

In [25]:
a = {1,1,1,2,5,2} # unique collection
print(a)
print (type(a))
print (id(a))

{1, 2, 5}
<class 'set'>
2390639437864

In [32]:
a = 7
print (a,type(a),id(a))

7 <class 'int'> 140704561402880

In [33]:
a = '7'
print (a,type(a),id(a))

7 <class 'str'> 2390577188120

In [35]:
a = 7.0
print (a,type(a),id(a))

7.0 <class 'float'> 2390638881000

In [38]:
a = '112'
b = '211'
print (a + b)

112211

In [44]:
qasim = 1
print (qasim,type(qasim),id(qasim))

1 <class 'int'> 140704561402688

In [47]:
x = 6 # shallow copy
y = 6 # shallow copy
z = 6 # shallow copy
print (id(x))
print (id(y))
print (id(z))

140704561402848
140704561402848
140704561402848

In [50]:
a = 7 # deep copy
b = '7' # deep copy

print (id(a))
print (id(b))

140704561402880
2390577188120

In [52]:
# Opertors

 # Python divides the operators in the following groups:

* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

In [56]:
print (2+7)
print (2-7)
print (2*7)
print (2/7)

9
-5
14
0.2857142857142857

In [5]:
import pandas as pd
df = pd.read_html ("https://www.w3schools.com/python/python_operators.asp")
df[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [1]:
import pandas as pd

In [67]:
a = 7
b = 7
a == b

True

In [68]:
import numpy as np

In [71]:
a = 7
b = 7
a < b

False

In [74]:
a = 7
b = 7
a >= b

True

In [76]:
a = 7
b = 7
a != b

False

In [8]:
df[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

In [81]:
 #       1        2       3        4
print (True and True and True and True)
print (True and False and True and True)
print (True and False and True and False)

True
False
False

In [9]:
 #       1        2       3        4
print (True or True or True or True)
print (True or False or True or True)
print (True or False or True or False)

True
True
True

In [10]:
import pandas as pd

In [12]:
df[7]

,Operator,Description,Try it
0,(),Parentheses,Try it »
1,**,Exponentiation,Try it »
2,+x -x ~x,"Unary plus, unary minus, and bitwise NOT",Try it »
3,* / // %,"Multiplication, division, floor division, and ...",Try it »
4,+ -,Addition and subtraction,Try it »
5,<< >>,Bitwise left and right shifts,Try it »
6,&,Bitwise AND,Try it »
7,^,Bitwise XOR,Try it »
8,|,Bitwise OR,Try it »
9,== != > >= < <= is is not in not in,"Comparisons, identity, and membership operators",Try it »
10,not,Logical NOT,Try it »
11,and,AND,Try it »
12,or,OR,Try it »

In [7]:
a = 2
b = 4
a == b

False

In [16]:
df[7]

,Operator,Description,Try it
0,(),Parentheses,Try it »
1,**,Exponentiation,Try it »
2,+x -x ~x,"Unary plus, unary minus, and bitwise NOT",Try it »
3,* / // %,"Multiplication, division, floor division, and ...",Try it »
4,+ -,Addition and subtraction,Try it »
5,<< >>,Bitwise left and right shifts,Try it »
6,&,Bitwise AND,Try it »
7,^,Bitwise XOR,Try it »
8,|,Bitwise OR,Try it »
9,== != > >= < <= is is not in not in,"Comparisons, identity, and membership operators",Try it »
10,not,Logical NOT,Try it »
11,and,AND,Try it »
12,or,OR,Try it »

In [21]:
a = 2
b = 2
print (a + b)

4

In [26]:
a = 2
b = 4
print (a == b)

False

In [30]:
a = 7
b = 7
a != b

False

In [8]:
n = int(input("enter Number"))
o = int(input("enter the limit of the table"))
for i in range (1,o):
    print(n,"*", i, "=",n*i)

enter Number5
enter the limit of the table11
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [50]:
a = 7
b = 7
a ==b

True

In [12]:
q = "Hello World"
print (q)

Hello World

In [17]:
string = "This is a string."
last_character = string[-1:]
print(last_character)

.

In [19]:
string = "This is a string."
new_string = string.upper()
print(new_string)

THIS IS A STRING.

In [25]:
string = "This is a string."
new_string = string.lower()
print(new_string)

this is a string.

In [28]:
string = "This is a string."
new_string = string.proper()
print(new_string)

AttributeError: 'str' object has no attribute 'proper'

In [30]:
q = "Hello World"
print (q.replace("H","J"))

Jello World

In [36]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [42]:
age = int(input(" Enter your age"))
Name = str(input(" Name your Name"))
txt = "My Name is {} I am {} years old"
print(txt.format(Name, age))

 Enter your age35
 Name your NameFahad Hashmi
My Name is Fahad Hashmi I am 35 years old